body {
  background-color: lightgrey;
  overflow-x: hidden;
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  color: #000000;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section .title {
  margin-left: 5px;
  
}
header {
  display: flex;
  height: 20px;
  align-items: center;
  position: relative;
}

header #links {
  display: none;
}

.menu {
  background-color: yellow;
  position: fixed;
  z-index: 1;
}

.menu .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  margin: 0 20px;
  margin-left: 50px;
  color: green;
}

header a.hamburger {
  display: block;
  position: absolute;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: red;
  position: fixed;
  z-index: 2;
}

section {
  background-color: #ffffff;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 0px 12px #ffffff;
  border-radius: 10px 0px;
  margin-bottom: 10px;
}

.control_panel_div {
    display: flex;
    flex-direction: row;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin: 0px 20px 20px 20px;

}

.control_div {
  background-color: #000000;
  width: 100px;
  height: 100px;
}

#controlDiv {
  display: none;
}

.block {
 position: relative;
}

.square {
  display: inline-block;
  background-color: #000000;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.form {
  margin-left: 500px;
  margin-bottom: 20px;
}
