@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@500&family=BhuTuka+Expanded+One&family=DM+Serif+Display&family=Indie+Flower&family=Josefin+Sans&family=Mouse+Memoirs&display=swap");

body {
  background-color: #170068;
  overflow-x: hidden;
  width: 100%;
  font-family: "Anek Gujarati", sans-serif;
  color: #ffffff;
  position: relative;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 15px;
  z-index: 0;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  align-items: center;
  position: relative;
}

/*$$$$$$$$$$$$$$$$$$$$ Hamburger Menu $$$$$$$$$$$$$$$$$$$$*/
#menuH {
  z-index: 2;
  display: flex;
  position: fixed;
}

#menuH-barH {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  transition: 0.5s ease;
}

.barH {
  height: 5px;
  width: 100%;
  background-color: #dc052d;
  display: block;
  border-radius: 5px;
  transition: 0.5s ease;
}

#bar1H {
  transform: translateY(-4px);
}

#bar3H {
  transform: translateY(4px);
}

.navH {
  transition: 0.5s ease;
  display: none;
}

.navH ul {
  background-image: linear-gradient(45deg, transparent, #dc052d, transparent);
  display: flex;
  padding: 0 22px;
  margin-left: 50px;
}

.navH li {
  list-style: none;
  padding: 12px 0;
}

.navH li a {
  color: white;
  font-size: 36px;
  text-decoration: none;
  margin-right: 45px;
}

.navH li a:hover {
  font-weight: bold;
}

.menuH-bgH {
  top: 0;
  left: 0;
  position: absolute;
}

.menuH-bgH {
  z-index: -1;
  width: 0;
  height: 0;
  margin: 0 0 20px 20px;
  background: radial-gradient(circle, #dc052d, #dc052d);
  border-radius: 50%;
  transition: 0.5s ease;
  /* position: fixed; */
}

.changeH {
  display: block;
}

.changeH .barH {
  background-color: white;
}

.changeH #bar1H {
  transform: translateY(4px) rotateZ(-45deg);
}

.changeH #bar2H {
  opacity: 0;
}

.changeH #bar3H {
  transform: translateY(-6px) rotateZ(45deg);
}

.changeH-bgH {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
}

/*$$$$$$$$$$$$$$$$$$$$ All 4 Sections $$$$$$$$$$$$$$$$$$$$*/
section {
  max-width: 1100px;
  background-color: #170068;
  border: 1px solid #170068;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 0px 12px #ffffff;
  border-radius: 10px;
  margin-bottom: 50px;
}

section .title {
  margin-left: 5px;
  animation: 1.9s anim-flipX ease infinite;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(720deg);
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/*$$$$$$$$$$$$$$$$$$$$ Control Panel Section $$$$$$$$$$$$$$$$$$$$*/
.control_panel_div {
  display: flex;
  flex-direction: row;
}

.inputs {
  display: flex;
  flex-direction: column;
  font-family: "Anek Gujarati", sans-serif;
  width: 100px;
  margin: 0px 20px 20px 20px;
}

.control_div {
  display: none;
  background-image: linear-gradient(180deg, yellow, green, red);
  border-radius: 3px;
  width: 100px;
  height: 100px;
}

.control_div1 {
  height: 150px;
}

.control_div2 {
  width: 150px;
}

.control_div3 {
  margin: 0 auto;
}

.control_div4 {
  position: absolute;
  margin-left: 800px;
}

/*$$$$$$$$$$$$$$$$$$$$ Colors Section $$$$$$$$$$$$$$$$$$$$*/
.colors_block {
  position: relative;
  margin-left: 40px;
}

.color_square {
  display: inline-block;
  background-color: #000000;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
}

h3 {
  margin-left: 15px;
}

/*$$$$$$$$$$$$$$$$$$$$ Data Section $$$$$$$$$$$$$$$$$$$$*/
.insertDataForm {
  margin: 20px 0 50px 50px;
}

label {
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 2px;
}

.table {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 450px;
  text-align: center;
}

th,
td {
  border: 2px solid #ffffff;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100px;
  margin-left: 50px;
  column-gap: 15px;
}

#addDataTable, #resetButton {
  border: 1px solid #000000;
  border-radius: 3px;
}

/*$$$$$$$$$$$$$$$$$$$$ for smaller screens $$$$$$$$$$$$$$$$$$$$*/
@media screen and (max-width: 1200px) {
  #menuH {
    align-items: center;
  }

  #menuH-barH {
    width: 20px;
  }

  .navH ul {
    margin-left: 10px;
  }

  .navH li a {
    font-size: 20px;
    margin-right: 15px;
  }

  .control_div4 {
    position: absolute;
    margin-left: 150px;
    margin-top: 150px;
  }

  .table {
    width: 250px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 0 auto;
  }
}
